# Snowflake Configuration
SNOWFLAKE_USER=abcd1234
SNOWFLAKE_PASSWORD=abcd1234
SNOWFLAKE_ACCOUNT=abcd1234
SNOWFLAKE_DATABASE=abcd1234
SNOWFLAKE_SCHEMA=abcd1234
SNOWFLAKE_WAREHOUSE=abcd1234

# Redis Configuration
REDIS_HOST=abcd1234
REDIS_PORT=abcd1234
REDIS_USERNAME=abcd1234
REDIS_PASSWORD=abcd1234
REDIS_DB=0
REDIS_TTL=3600

# AWS S3 Configuration
AWS_ACCESS_KEY_ID=abcd1234
AWS_SECRET_ACCESS_KEY=abcd1234
AWS_REGION=us-east-1
S3_BUCKET_NAME=abcd1234